@using static MoviesWebsite.Controllers.ViewMoviesController
@model ViewCategory
@{
}

<style>
	.img-movie {
		height: 255px;
		width: 170px;
		object-fit:cover;
	}
</style>

<div class="flex-wrap-movielist">
	@foreach(var item in Model.Movies)
	{
		<div class="movie-item-style-2 movie-item-style-1">
			@if (!string.IsNullOrWhiteSpace(item.Image))
			{
				<img class="img-movie" src="@item.Image" alt="">
			}
			else
			{
				<img class="img-movie" src="/Uploads/nophoto.png" alt="">
			}
			<div class="hvr-inner">
				<a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-slug="@item.Slug">
					Read more 
					<i class="ion-android-arrow-dropright"></i> 
				</a>
			</div>
			<div class="mv-item-infor">
				<h6>
					<a asp-area="" 
						asp-controller="Home" 
						asp-action="Detail" 
						asp-route-slug="@item.Slug">
						@item.Title
					</a>
				</h6>
				<p class="rate"><i class="ion-android-star"></i>
					<span>@Math.Round(item.Rate != null ? item.Rate.Value : 0, 1)</span> /10
					<span style="float: right; color: #FFDB00">@item.View Views</span>
				</p>
			</div>
		</div>
	}
</div>
