@model List<MoviesWebsite.Models.Movie.Movie>

@foreach (var movie in Model)
{
    <div class="movie-item">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="title-in">
                    @*  Categories *@
                    <div class="cate">
                        @foreach(var category in movie.Categories)
                        {
                            <span class="blue"><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-slug="@movie.Slug">@category.Title</a></span>
                        }
                    </div>
                    <h1>
                        <a>
                            @movie.Title <span>@movie.ReleaseDate?.Year</span>
                        </a>
                    </h1>
                    @* Button *@
                    <div class="social-btn">
                        <a href="#" class="parent-btn"><i class="ion-play"></i> Watch Trailer</a>
                        <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mv-details">
                        <p>
                            <i class="ion-android-star"></i><span>@movie.Rate</span> /10
                        </p>
                        <ul class="mv-infor">
                            <li>Run Time: 2h21’</li>
                            @{
                                var releaseDateDisplay = movie.ReleaseDate != null ? $"<li>Release: {movie.ReleaseDate.Value.ToString("d MMM yyyy")}</li>" : "";
                            }
                            @Html.Raw(releaseDateDisplay)
                        </ul>
                    </div>
                    @* go to detail *@
                    <div class="btn-transform transform-vertical">
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-slug="@movie.Slug" class="item item-1 redbtn">more detail</a>
                        </div>
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-slug="@movie.Slug" class="item item-2 redbtn hvrbtn">more detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="mv-img-2">
                    <a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-slug="@movie.Slug"><img src="@movie.Image" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
}
